{% extends "entregaTeves/padre.html" %}
{% load static %}
{% block section_name%}
                            
<h2> Acerca de mi </h2>

{% endblock%}
{% block contenidoQueCambia %}



<h3><b>¡Hola gente de CoderHouse!</b></h3>

    <h5> Mi nombre es Emiliano Teves, y quiero contarles un poco de mi vida, aprovechando este desafio final. </h5>
    <h5>Tengo 35 años, soy Argentino, pero vivo en Mexico hace 5 años ya, y trabajo de forma independiente con un proyecto de venta de calzados en Argentina, el cual se basa principalmente de plataformas online.</h5>

    <h5>Nunca habia estudiado programacion, si tengo leves conocimientos de computación, pero lejos estaba de saber todo lo que vi en estos meses.</h5>
    <h5>Mas alla de la nota final, estoy muy contento de todo lo aprendido al dia de hoy, se que tengo muchisimo camino por delante, tanto en mejorar lo visto en la cursada, 
    como para abrir nuevas puertas a otros temas, lenguajes, y codigos (<b>"El Cielo es el limite"</b>, mencionó una vez alguien en el chat del zoom, y me quedó grabado)</h5>

    <h5>Muchas gracias por su tiempo, les mando un abrazo grande, y seguramente me este anotando en otra cursada.</h5>


{% endblock %}


